
@{
    ViewData["Title"] = "Dashboard";
}

<h1>
    <a asp-controller="AdminHotel" asp-action="EditHotels">Ver hoteis</a>
</h1>


<h1>
    <a asp-controller="AdminHotel" asp-action="EditReservations">Ver reservas</a>
</h1>


<h1>
    <a asp-controller="AdminHotel" asp-action="EditRooms">Ver quartos</a>
</h1>