
@{
    ViewData["Title"] = "Dashboard";
}

<h1>
    Olá, @User.Identity.Name! Como vai?
</h1>

<h3 class="mb-2">
    <a asp-controller="Admin" asp-action="ManageHotels">Gerenciar hoteis</a>
</h3>


<h3 class="mb-2">
    <a asp-controller="Admin" asp-action="ManageReservations">Gerenciar reservas</a>
</h3>


<h3>
    <a asp-controller="Admin" asp-action="ManageRooms">Gerenciar quartos</a>
</h3>